<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/styles/login.css">
</head>

<body>

    <div class="login-container">
        <h1>Login</h1>

        <form action="/user/login" method="post">
            <label for="email">Email</label>
            <input type="email" required name="email" id="email" placeholder="Enter your email">

            <label for="password">Password</label>
            <input type="password" required name="password" id="password" placeholder="Enter your password">

            <button type="submit">Login</button>
        </form>

        <div class="messages">
            <% if (locals.signupSuccessMsg) { %>
                <strong><%= signupSuccessMsg %></strong>
            <% } %>

            <% if (locals.loginErr) { %>
                <strong><%= loginErr %></strong>
            <% } %>
        </div>

        <div class="signup-text">
            New User? <a href="/signup">Create New Account</a>
        </div>
    </div>

</body>
</html>
